*{
    margin: 0;
    padding: 0;
}

.seccion{
    width: 100%;
    height: 800px;
    margin: 2%;
    text-align: center;
    border: 1px solid red;
}

.map{
    width: 80%;
    height: 450px;
    border: 1px solid red;
}

.wiki{
    margin-top: 2%;
}